.btnGreen{
  width: 100px;
  background-color: green;
  border-radius: 5px;
  padding:12px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnRed{
  width: 100px;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}